DJANGO_SECRET_KEY=change-me-in-prod
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,cloak.moosha.org
DATABASE_URL=postgres://cloak:cloak@db:5432/cloak
POSTGRES_USER=cloak
POSTGRES_PASSWORD=cloak
POSTGRES_DB=cloak
